 .u-section-1 {
  background-image: linear-gradient(#c67512, #502c01);
}

.u-section-1 .u-sheet-1 {
  min-height: 1071px;
}

.u-section-1 .u-image-1 {
  width: 440px;
  height: 440px;
  background-image: url("images/ds-min.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 73px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: abril-fatface;
  line-height: 1.2;
  margin: 54px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-size: 1.375rem;
  width: 836px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  font-size: 1.375rem;
  width: 480px;
  margin: 40px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  margin: 30px auto 60px;
  padding: 21px 55px 21px 54px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1037px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}